<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='./style.css') }}">
    <style>
        h1 {
            color: {{color2}};
            background-color: {{color1}};
        }

        .color1 {
            background-color: {{color1}};
        }
        
        .color2 {
            background-color: {{color2}};
        }

        .checkerboard {
            width: calc(80px * {{col}});
            height: calc(80px * {{row}});
        }
    </style>
</head>
<body>
    <h1>*** Checkerboard ***</h1>
    
    {% if row > 0 and col > 0 %}
        <div class="checkerboard">
            {% for i in range(0, row): %}
                {% for j in range(0, col): %}
                    <div class="square color{{ (i + j) % 2 + 1 }}" id="square{{col * i + j}}"></div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>