<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
</head>
<body>
    <h1>Welcome!</h1>

    <div class="container" style="display:flex; padding:10px;">
        {% for _ in range(0, x) %}
            <div class="box" style="border: 3px solid black; margin-left: 5px; height: 80px; width: 80px; background-color: {{color}}"></div>
        {% endfor %}
    </div>
</body>
</html>